ion-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

ion-tab-bar,
ion-tab-button {
  background-color: #ce0013;
  color: #d7d8da;
}

.separator {
  margin: 10px 0;
  border-bottom: 3px solid #ccc;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 20px;
}

#mapId {
  width: 100%;
  height: 100%;
  max-width: 600px;
}
