<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokemons Chupistásticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokemons Chupistásticas</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>LISTA DE POKEMON</h1>
  <ion-list>
    <ion-item *ngFor="let documentPokemon of arrayColeccionPokemon"
      (click)="selecPokemon(documentPokemon.id, documentPokemon.pokemon)">
      <ion-grid>
        <ion-row>
          <h2>{{ documentPokemon.pokemon.especie }}</h2>
        </ion-row>
        <ion-row>
          <h4>Mote: {{ documentPokemon.pokemon.mote }}</h4>
        </ion-row>
        <ion-row>
          <h4>Tipos: {{ documentPokemon.pokemon.tipos }}</h4>
        </ion-row>
        <ion-row>
          <h4>Nivel: {{ documentPokemon.pokemon.nivel }}</h4>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/detalle/nuevo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>