<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="navigationTabs">

        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacto">
          <ion-icon name="megaphone-outline"></ion-icon>
          <ion-label>Contacto</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Pokémon</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>LISTA DE POKÉMON</h1>
  <ion-list>
    <ion-item *ngFor="let documentPokemon of arrayColeccionPokemon"
      (click)="selecPokemon(documentPokemon.id, documentPokemon.pokemon)">
      <ion-grid>
        <ion-row>
          <h2>{{ documentPokemon.pokemon.especie }}</h2> <img class="iconoPoke"
            src="{{ documentPokemon.pokemon.icono }}" alt="Icono del Pokémon">
        </ion-row>
        <ion-row>
          <h4>Mote: {{ documentPokemon.pokemon.mote }}</h4>
        </ion-row>
        <ion-row>
          <h4>Tipos: {{ documentPokemon.pokemon.tipos }}</h4>
        </ion-row>
        <ion-row>
          <h4>Nivel: {{ documentPokemon.pokemon.nivel }}</h4>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab class="addButton">
    <ion-fab-button [routerLink]="['/detalle/nuevo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="shareButton">
    <ion-fab-button>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>